@keyframes background-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes scroll-button {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(25px);
  }
}
@keyframes skill-growth {
  0% {
    flex-grow: 0;
  }
  100% {
    flex-grow: 5;
  }
}
@keyframes modal-opening {
  0% {
    transform: translateX(730px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.contact-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.contact-bar__icons {
  width: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact-bar__icons__link__svg {
  width: 15px;
}
.contact-bar__icons__link__svg__path {
  fill: white;
}
.contact-bar__email__link {
  width: 206px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
}

.svg {
  width: 15px;
}
.svg__path {
  fill: white;
}

.svg__nav {
  width: 15px;
}
.svg__nav__path {
  fill: white;
}

.header {
  position: fixed;
  top: 50px;
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.nav-bar {
  width: 100%;
  height: 100%;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-bar__list {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar__list__li {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar__list__li::after {
  content: "";
  width: 0px;
  height: 5px;
  background-color: #e74c3c;
  transition: all 0.6s ease;
}
.nav-bar__list__li:hover::after {
  width: 100%;
}
.nav-bar__list__li > a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}
.background__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  animation: background-zoom 20s ease forwards;
}
.background__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
}
.background__title__h1 {
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
}
.background__title__h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}

.scroll-down {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid;
  border-color: white;
  border-radius: 25px 25px 25px 25px;
  border-width: 1px;
}
.scroll-down > svg {
  width: 25px;
  animation: scroll-button 1s ease-in-out infinite;
}
.scroll-down > svg > path {
  fill: white;
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.skills-section__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 100px;
}

.section-title {
  color: #222;
  font-weight: 600;
  font-size: 60px;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 45px;
  color: #8f8f8f;
  margin-bottom: 100px;
}

.skills__title {
  color: #8f8f8f;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.skill {
  color: #8f8f8f;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.skill__description {
  color: #8f8f8f;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  font-style: italic;
}

.skill-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 700px;
}

.domains {
  min-width: 320px;
  width: 30%;
}

.development {
  width: 30%;
  min-width: 320px;
}

.development-bar {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e74c3c;
  margin-bottom: 20px;
}
.development-bar:hover > span {
  animation: skill-growth 1s ease-in-out forwards;
}

.development-bar > span {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  background-color: #f47a6d;
  height: 100%;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 2px;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 400px;
  width: 350px;
  border: solid;
  border-width: 0.5px;
  margin-top: 50px;
  margin-right: 50px;
}
.project__image-box {
  position: relative;
  width: 350px;
  height: 300px;
  overflow: hidden;
}
.project__image-box__image {
  width: 350px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__image-box__image:hover {
  transform: scale(1.5);
  transition: all 1s;
}
.project__image-box__hover-frame {
  position: absolute;
  width: 350px;
  height: 300px;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
}
.project__image-box__hover-frame:hover {
  cursor: pointer;
}
.project__image-box__hover-frame > svg {
  width: 75px;
}
.project__text-box {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.project__text-box__title {
  color: #000101;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 18px;
  margin-top: 11px;
  margin-bottom: 10px;
}
.project__text-box__description {
  color: #8f8f8f;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 18px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.modal-closed {
  display: none;
}

.modal-opened {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 730px;
  z-index: 1000;
  background-color: white;
  border-left: solid 2px;
  animation: modal-opening 0.6s ease forwards;
}

#modal {
  position: fixed;
  height: 100vh;
}
#modal__frame {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-left: 40px;
}
#modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e74c3c;
  color: white;
  padding: 5px;
  cursor: pointer;
}
#modal__title {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #e74c3c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}
#modal__description {
  margin: 50px 0px;
  line-height: 1.8em;
  font-weight: 500;
  letter-spacing: 1px;
}
#modal__images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
#modal__tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.modal-image {
  width: 500px;
  border: solid 1px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.modal-tags {
  background-color: #e74c3c;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  margin-right: 5px;
  font-size: 13px;
}

.modal-icons {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.modal-icons > path {
  fill: #e74c3c;
}

#top {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 0px;
  height: 50px;
  right: 50px;
  border-radius: 50%;
  border-width: 2px;
  border: solid 1px white;
}
#top__svg {
  width: 50px;
  height: 50px;
}
#top__svg > path {
  fill: #e74c3c;
}

.about_intro {
  width: 90%;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
  line-height: 30px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 1px;
  width: 60%;
  margin-bottom: 20px;
}
.dropdown__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e74c3c;
}
.dropdown__head__title {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  line-height: 130%;
}
.dropdown__head__arrow {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.dropdown__head__arrow > svg > path {
  fill: white;
}
.dropdown__content {
  display: none;
  padding: 10px;
}
.dropdown__content__p {
  line-height: 1.8em;
  font-weight: 500;
  letter-spacing: 1px;
}

.dropdown {
  display: flex;
}

.up {
  display: none;
}

.form-container {
  width: 40%;
}

.layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 370px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  padding-left: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#message {
  display: block;
  min-height: 200px;
}

.button {
  width: 100px;
  height: 50px;
  text-transform: uppercase;
  background-color: white;
  border-color: #e74c3c;
  color: #e74c3c;
  transition: all 0.6s ease;
}
.button:hover {
  border-color: white;
  background-color: #e74c3c;
  color: white;
}

#map {
  height: 300px;
  width: 300px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  border-top: solid 1px;
  border-color: #e74c3c;
  padding: 20px 0px;
}
.contact-info__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.contact-info__list__li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
}
.contact-info__list__li:hover > div {
  animation: rotate 0.6s ease-in-out;
}
.contact-info__list__li__svg-container {
  width: 30px;
  height: 30px;
  padding: 10px;
}
.contact-info__list__li__svg-container__svg > path {
  fill: #e74c3c;
}
.contact-info__list__li__a {
  cursor: pointer;
  text-decoration: none;
  color: #222;
  border: solid 1px #e74c3c;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-info__list__li__a:hover {
  background-color: #e74c3c;
  color: white;
  border-color: white;
  transition: all 0.7s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}
@media screen and (max-width: 767px) {
  .header {
    height: 120px;
    padding: 5px 0px;
  }
  .nav-bar__list {
    flex-direction: column;
    font-size: 12px;
  }
  .background__title__h1 {
    font-size: 20px;
  }
  .background__title__h2 {
    font-size: 40px;
  }
  .scroll-down {
    width: 19px;
    height: 42px;
  }
  .scroll-down > svg {
    width: 15px;
  }
  .section-title {
    font-size: 33px;
  }
  .section-subtitle {
    font-size: 20px;
    margin-bottom: 58px;
  }
  .skills__title {
    font-size: 16px;
  }
  .skills-section__container {
    margin-bottom: 20px;
  }
  .skills {
    font-size: 13px;
  }
  .skill__description {
    font-size: 12px;
  }
  .skill-list {
    min-height: 500px;
  }
  .development {
    margin-top: 70px;
  }
  .skill-list {
    margin-top: 20px;
  }
  .projects {
    flex-direction: column;
    justify-content: center;
  }
  .project {
    margin: 15px 0;
  }
  .dropdown {
    width: 90%;
  }
  .form-container {
    width: 77%;
  }
  .heading {
    margin-top: 30px;
  }
  .about_intro {
    font-size: 13px;
  }
  .dropdown__head__title {
    font-size: 10px;
    padding: 5px;
    line-height: 120%;
  }
  .about-section {
    margin-bottom: 50px;
  }
  .contact-form {
    height: 269px;
  }
  .input {
    font-size: 11px;
  }
  .contact-info__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #top {
    width: 30px;
    height: 30px;
    right: 12px;
  }
  #top__svg {
    width: 30px;
    height: 30px;
  }
  .modal-opened {
    width: 100%;
    padding-bottom: 30px;
  }
  #modal__frame {
    padding: 15px;
  }
  #modal__description {
    margin: 30px 0;
  }
  #modal__images {
    flex-direction: column;
  }
  .modal-image {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */